

h1 {
    color: mediumseagreen;
    line-height: 2;
    text-align: center;
    border-style: hidden;
    border-width: 2px;
    border-radius: 35px;
    background-color: #C1E3FF; opacity: 0.6;
}
body {
    width: 1000px;
    border: 15px solid mediumseagreen;
    padding: 20px;
    margin: 20px;
    font-family: "Trirong", serif;
  }

/* background color */