

h1 {
    color: #222;
}

h2 { 
  color: #222;
}

h3 {
  color: #222;
}

h4 {
  color: #222;
}

a {
  color: slateblue;
}

body {
  font-family: "Trirong", serif;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: whitesmoke;
}

.border-wrap {
  max-width: fit-content;
  padding: 1rem;
  position: relative;
  background: linear-gradient (to bottom, red, orange, yellow, green, blue, purple);
  padding: 5px;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  margin: 5px;
  min-width: 700px;
  background: whitesmoke;
}

.item {
  background: transparent;
  text-align: left;
  margin: 10px;
}

.t-st-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem;
  margin: 5px;
  width: 300px;
}

.t-st {
  flex-direction: column;
  align-content: stretch;
}